/* body config. */
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

nav, footer {
    background: #006dae;
}

h6 {
    color: #2a2a2a;
}

/* **************** */

.blink {
    color: #006dae;
	animation: blink 1.3s linear infinite;
    display: inline;
}

@keyframes blink{
    50%{opacity: 0;}
}
